body {
    color:#34445e;
    text-align:center;
}

header {
    background-color:aquamarine;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
}

header a {
    color:#34445e;
    display:block;
    margin-bottom:0.25rem;
    text-decoration:none;
    text-transform:uppercase;
    line-height:1.75rem;
}

.inner-container {
    max-width:1280px;
    margin: 0 auto;
    padding:1rem;
}

h1 {
    font-size:1.75rem;
}

h2 {
    text-align:left;
}

p {
    text-align:left;
}

section {
    margin-bottom:1rem;

}

@media screen and (min-width:800px) {
    .inner-container {
        display:flex;
        justify-content:space-between;
        align-items:center;
        padding:0
    }

    ul {
        display:flex;
        gap:1rem;
    }

    header {
        padding:0.5rem;
    }

    section {
        width:calc(96%/3);
    }
}